.highlighted-section {
    -fx-stroke : #ff0000;
    -fx-stroke-width : 5px;
}

.delivery-rectangle {
    -fx-fill : #e23321;
    -fx-arc-height : 5.0;
    -fx-arc-width : 5.0;
    -fx-stroke : #000000;
    -fx-stroke-type : inside;
}

.highlighted-delivery {
    -fx-stroke : #ffffff;
    -fx-fill : #2a4db7;
}

.path {
    -fx-stroke : #fc563c;
    -fx-stroke-width : 3px;
    -fx-stroke-dash-array : null;
}

.path-before-delivery {
    -fx-stroke : #4fce06;
    -fx-stroke-width : 3px;
    -fx-stroke-dash-array : null;
}

.delivery-path {
    -fx-stroke : #1d7dc1;
    -fx-stroke-width : 6px;
    -fx-stroke-dash-array : null;
}

.path-after-delivery {
    -fx-stroke : #d37102;
    -fx-stroke-width : 3px;
    -fx-stroke-dash-array : 5 10;
}

.selected-node-adding-mode {
    -fx-stroke: #4fce06;
    -fx-fill: #1d7dc1;
    -fx-stroke-line-cap: round;
}